#packmouse > div{
    flex-direction: column;
}

#packmouse {
    margin: 5vh 0;
    display: none;
}


.display-wrapper{
    display: flex;
    justify-content: space-between;
    font-family: "DotGothic16";
    font-size: 2.5rem;
    width: 100%;
    height: 50px;
}

#gameCanvas-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#game{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#gameRight{
    background-image: url("../img/tag.gif");
    display:none;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 50%;
    height: 90%;
}

#rankingRight{
    display:block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 50%;
    height: 90%;
}

#gameLeft{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    height: 80%;
}


#closeButton{
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 3px;
        background-color: #565454;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

#soundtoggle{
    background-image: url("../img/soundOn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 100%;
}

#packmouse .container{
    width: 90%;
}

#lifeDisplay{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 15%;
}

#lifeDisplay div img{
    width: 3rem;
}


/* ----------------------------------------------------------------- */

#achievement-wrapper{
    width: 100%;
    height: 20rem;
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#achievement-wrapper h1{
    font-size: 2rem;
}

#achievement{
    width: 100%;
}

#achievement > p{
    text-align: left;
}

#achievement ul{
    display: flex;
    flex-direction: row;
}

#achievement li{
    width: 12.5%;
}

#achievement li img{
    width: 100%;
    height: auto;
}

#achievement li h2{
    text-align: center;
    font-family: DotGothic16;
    font-size: 0.8rem;
    border-bottom: 1px solid black;
    text-shadow: 0 0 5px #807f78;
    margin-bottom: 0.3rem;
}

#achievement li h3{
    font-size: 0.7rem;
    padding: 0.2rem 0;
    margin: 0;
}

#achievement li p{
    font-size: 0.5rem;
}

.ranking{
    font-family: 'DotGothic16', sans-serif; /* フォントをDotGothic16に変更 */
    font-size: 1rem; /* フォントサイズを調整 */
    color: #333; /* フォントの色をダークグレーに設定 */
}

.ranking::before {
    content: counter(item) ". ";
    counter-increment: item;
}

#ranking-output {
    counter-reset: item;
}

#rankingButton{
    margin: auto 0;
    width: 100px;
    height: 80%;
    background-color: #f0ad4e;
    border: none;
    outline: none;
    cursor: pointer;
}

#rankingRight {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    background-color: #f8f9fa; /* 明るいグレーの背景色 */
    border-radius: 10px; /* 角を丸く */
    padding: 30px; /* 内側の余白 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* ソフトな影を追加 */
    width: 90%; /* 幅を90%に設定 */
    height: 80%;
    max-width: 500px; /* 最大幅を500pxに設定 */
    overflow: hidden; /* 内容がはみ出した場合に隠す */
    margin: auto 3%;
    transition: all 0.3s ease-in-out; /* スムーズな表示切り替え */
    z-index: 100;
}

#rankingRight label {
    height: 100%;
    font-family: 'DotGothic16', sans-serif; /* フォントをDotGothic16に変更 */
    font-size: 1.2rem; /* フォントサイズを調整 */
    color: #333; /* フォントの色をダークグレーに設定 */
}

#ranking-output{
    height: 70%;
    margin-top: 15px;
    overflow: auto;
}

#ranking-output::-webkit-scrollbar {
    width: 25px; /* スクロールバーの幅 */
}

#ranking-output::-webkit-scrollbar-track {
    background: #f1f1f1; /* スクロールバーのトラック部分の背景色 */
    border-radius: 10px; /* トラック部分の角を丸く */
}

#ranking-output::-webkit-scrollbar-thumb {
    background: #888; /* スクロールバーのつまみ部分の背景色 */
    border-radius: 10px; /* つまみ部分の角を丸く */
}

#ranking-output::-webkit-scrollbar-thumb:hover {
    background: #555; /* ホバー時のつまみ部分の背景色 */
}

#playername-wrapper{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playername {
    all: unset;
    display: none;
    width: 70%;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'DotGothic16', sans-serif;
    transition: border-color 0.3s ease-in-out;
}

#playername-input {
    all: unset;
    width: 70%;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'DotGothic16', sans-serif;
    transition: border-color 0.3s ease-in-out;
}

#playername-input-wrapper{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playername-input:focus {
    border-color: #f0ad4e;
    outline: none;
}

#ranking-send {
    font-family: 'DotGothic16', sans-serif; /* フォントをArialに変更 */
}


